### parameters fixed in VRPSolver but with values different from default

MaxNbOfStagesInColGenProcedure = 3
colGenSubProbSolMode = 3
MipSolverMultiThread = 1
ApplyStrongBranchingEvaluation = true

### parameters open for the user with default values (notation in the Math.Prog. paper in comments)

RCSPstopCutGenTimeThresholdInPricing = 5 # \tau^{\mathrm{soft}}
RCSPhardTimeThresholdInPricing = 10 # \tau^{\mathrm{hard}}

RCSPuseBidirectionalSearch = 1 # \phi^{\mathrm{bidir}}

RCSPdynamicNGmode = -1
RCSPinitNGneighbourhoodSize = 8
RCSPmaxNGaverNeighbourhoodSize = 16
RCSPmaxNGneighbourhoodSize = 16 # \eta^{\mathrm{max}}

RCSPrankOneCutsMaxNumRows = 5 # \theta^{\mathrm{rows}}

RCSPrankOneCutsMemoryType = 1 # \theta^{\mathrm{mem}}

RCSPmaxNumOfEnumeratedSolutions = 1000000 # \omega^{\mathrm{routes}}
StrongBranchingPhaseOneCandidatesNumber = 50  # \zeta_1^{\mathrm{num}}   
StrongBranchingPhaseOneTreeSizeEstimRatio = 0.1 # \zeta_1^{\mathrm{estim}} 
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.1 # \zeta_2^{\mathrm{estim}} 
CutTailingOffThreshold = 0.015 # \delta^{\mathrm{gap}}

treeSearchStrategy = 0  # “breadth-first” exploration strategy, default is 1 (depth-first)
OpenNodesLimit = 30    # When this limit is reached, newly created nodes is always explored in the “depth-first” manner
GlobalTimeLimit = 86400 # 24h

DEFAULTPRINTLEVEL = 0
timeKeySet = bcTimeMastMPsol bcTimeColGen bcTimeSpUpdateProb bcTimeCgSpOracle bcTimeHeurSpOracle bcTimeCutSeparation bcTimeAddCutToMaster bcTimeSetMast bcTimeRedCostFixAndEnum bcTimeEnumMPsol bcTimeSBphase1 bcTimeSBphase2 bcTimeRootEval bcTimeMain bcEstimTreeSize
outputKeyVector = bcFailToSolveModel bcCountNodeProc bcRecRootLpVal bcRecBestDb bcRecBestInc bcCountMastSol bcCountCg bcCountSpSol bcCountCol bcCountCutInMaster bcTimeMastMPsol bcTimeColGen bcTimeCutSeparation bcTimeRedCostFixAndEnum bcTimeRootEval bcTimeMain bcEstimTreeSize
