### parameters fixed in VRPSolver but with values different from default

MaxNbOfStagesInColGenProcedure = 3
colGenSubProbSolMode = 3
MipSolverMultiThread = 1
ApplyStrongBranchingEvaluation = true

### parameters open for the user with default values (notation in the Math.Prog. paper in comments)

RCSPstopCutGenTimeThresholdInPricing = 2
RCSPhardTimeThresholdInPricing = 5       # \tau^{\mathrm{hard}}

RCSPmaxNumOfLabelsInEnumeration = 500000
RCSPmaxNumOfEnumeratedSolutions = 5000000 # \omega^{\mathrm{routes}}
RCSPmaxNumOfEnumSolutionsForMIP = 10000

RCSPallowRoutesWithSameVerticesSet = false

RCSPnumberOfBucketsPerVertex = 50

RCSPmaxNumOfColsPerIteration = 30
RCSPmaxNumOfColsPerExactIteration = 150

#RCSPuseBidirectionalSearch = 1

RCSPrankOneCutsMemoryType = 0       # \theta^{\mathrm{mem}},

RCSPrankOneCutsMaxNumRows = 5
RCSPrankOneCutsTypeToSeparate = 1

RCSPuseCapacityCuts = true
RCSPcapacityCutsSeparator = 1

CutTailingOffThreshold = 0.015     # \delta^{\mathrm{gap}}

StrongBranchingPhaseOneCandidatesNumber = 100   # \zeta_1^{\mathrm{num}}
StrongBranchingPhaseOneTreeSizeEstimRatio = 0.2 # \zeta_1^{\mathrm{estim}} 
StrongBranchingPhaseTwoCandidatesNumber = 5     # \zeta_2^{\mathrm{num}}
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.02 # \zeta_2^{\mathrm{estim}} 

DEFAULTPRINTLEVEL = 0

GlobalTimeLimit = 3600
MaxNbOfBBtreeNodeTreated = 10000

timeKeySet = bcTimeMastMPsol bcTimeColGen bcTimeSpUpdateProb bcTimeCgSpOracle bcTimeHeurSpOracle bcTimeCutSeparation bcTimeAddCutToMaster bcTimeSetMast bcTimeRedCostFixAndEnum bcTimeEnumMPsol bcTimeSBphase1 bcTimeSBphase2 bcTimeRootEval bcTimeMain bcEstimTreeSize

# YOUR SELECTION IN ORDER
# The selected fields in sorted order (in any case lines start with prName and ends with total cpu time;
outputKeyVector = bcFailToSolveModel bcCountNodeProc bcRecRootLpVal bcRecBestDb bcRecBestInc bcCountMastSol bcCountCg bcCountSpSol bcCountCol bcCountCutInMaster bcTimeMastMPsol bcTimeColGen bcTimeCutSeparation bcTimeRedCostFixAndEnum bcTimeRootEval bcTimeMain bcEstimTreeSize
